# Define standard text and binary handling

# Web Files
*.html text eol=lf
*.md text eol=lf
*.css text eol=lf
*.js text eol=lf

# Jekyll related files
*.yml text eol=lf

# Git related files
.gitattributes text eol=lf
.gitignore text eol=lf
.gitkeep text eol=lf

# Python files
*.py text eol=lf

# GitHub specific files
LICENSE text eol=lf

# Config files
*.json text eol=lf

# General media files
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.webp binary
*.pdf binary
